@import url('https://fonts.googleapis.com/css2? família=Edu+VIC+WA+NT+Iniciante:wght@600&display=swap');
.cabecalho{
    width: 100%;
    height: 3rem;
    background-color: #272727 ;
    display: flex;
    justify-content: end;
    text-align: center;
}

.cabecalho-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;
}

.botoes-menu, .botão-contato{
    margin: 0.5rem;
    background-color: transparent;
    border:none;
    cursor: pointer;
    color: #fff;
    font-family: 'Edu VIC WA NT Iniciante', cursive;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

.botão-contato{
    margin-left: 25rem;
    margin-right: 2rem;
}

.botoes-menu:hover, .botão-contato:hover{
    transform: scale(1.2);
    color: #b21f32;
}